body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-game {
  background-image: url("./img/start-screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 700px;
  background-position: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: #D2B48C;
  margin: 80px;
}

.play-img {
  margin-top: 40px;
}

h1 {
  text-align: center;
}

.game-over {
  background-image: url("./img/gameover-screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D2B48C;
  height: 400px;
  width: 700px;
  background-position: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.restart {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
margin-top: 150px;
}

#show-text {
font-family: fantasy;
font-size: 16px;
color: #A37C4D;
margin: 100px;
}

