body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.start-game {
  background-image: url("./img/start-screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 700px;
  background-position: 3px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center
}

h1 {
  text-align: center;
}

#playerScore {
  font-size: 30px;
}

